<div class="container">
    <div class="row">
        <div class="col-2">
            <br>
        </div>
        <div class="col-8">
            <div class="central">
                <div class="uno">
                    <div class="logoarg"><img class="seba" src="../../../assets/fotoseba.JPG"></div>
                    <div class="welcome"><b>Bienvenid@ a mi Portfolio</b><br>Gracias por visitarme</div>
                </div>
                <hr class="sepa">
                <div class="intro">
                    ¡Hola! Me llamo Sebastián. Me encuentro en la etapa final de la entrega del proyecto integrador del
                    programa
                    "Argentina Programa". Agradezo al mismo la oportunidad de formarme en un área que a lo largo de
                    mi vida siempre me interesó.
                    Para mi la programación es un proceso enormemente creativo. Te invito a que visites mi portfolio
                    para conocer mas de mi y mis intereses.
                    Solo debes hacer click en Login (arriba a la izquierda) e ingresar como <b>Invitado</b> con las siguientes
                    credenciales:
                </div>

                <div class="credencial">
                    <div class="cred1"><br></div>
                    <div class="cred2"><b>Usuario:&nbsp;</b>user<br><b>Contraseña:&nbsp;</b>user</div>
                    <div class="cred3"><br></div>
                </div>

                <hr class="sepa">
                <div class="pie">
                    "La función de un buen Software es hacer que lo complejo, aparente ser simple"<br> - Grady Booch -
                </div>

            </div>
        </div>

        <div class="col-2">
            <br>
        </div>


    </div>
</div>