<mat-toolbar color="primary">

    
    <a [routerLink]="'/'"
         mat-icon-button class = "example-icon" arial-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>    
    <span>Portfolio</span>
    <span class="example-spacer"></span>
    <a [routerLink]="'/login'" mat-icon-button class="example icon favorite-icon" arial-label="Example icon-button with heart icon">
    Iniciar Sesion
      </a>  

      <a [routerLink]="'/educacion'" mat-icon-button class="example icon favorite-icon mr20 ml70" aria-label="Example icon-button with heart icon">
      Educacion
       </a>  

       <a [routerLink]="'/tipoempleo'" mat-icon-button class="example icon favorite-icon mr120 ml70" aria-label="Example icon-button with heart icon">
        Tipo de empleo
         </a>  

         <a [routerLink]="'/experiencial'" mat-icon-button class="example icon favorite-icon mr120 ml70" aria-label="Example icon-button with heart icon">
          Experiencia Laboral
           </a>  

           <a [routerLink]="'/proyectos'" mat-icon-button class="example icon favorite-icon mr120 ml70" aria-label="Example icon-button with heart icon">
            Proyectos
             </a>  



</mat-toolbar>


