<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-offset-1 col-md-10 col-md-pull-1">
            <form [formGroup]="formularioEdicion">
                <div class="add-lessons-form" [formGroup]="form">
                    <ng-container formArrayName="lessons">
                        <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
                            <hr class="sepa">
                            <b>Lista No: {{i+1}}</b> | Id en Tabla: {{educacionList[i].id}}
                            <hr>
                            <div class="lesson-form-row" [formGroupName]="i">
                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Nombre Institucion Educativa:</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <input matInput formControlName="instituciong" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('instituciong')?.errors?.['required']; else nadae">
                                    (Nombre de la Institucion no debe ser nulo)
                                </p>
                                <ng-template #nadae>
                                    <p class="notita">&nbsp;</p>
                                </ng-template>
                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Titulo Obtenido:</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <input matInput formControlName="titulo_obtenidog" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('titulo_obtenidog')?.errors?.['required']; else nada">
                                    (El nombre del titulo no puede estar vacio)
                                </p>

                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Fecha Inicio Estudio</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <input onkeydown="return false" matInput formControlName="fechainig"
                                                [placeholder]="placehold(1,i)" [matDatepicker]="picker5">
                                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                            <mat-datepicker #picker5></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('fechainig')?.errors?.['required']; else nada">
                                    (Debe seleccionar fecha haciendo click en el icono del calenario)
                                </p>
                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">¿Estudio Finalizado?</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <select matNativeControl formControlName="finalizadog"
                                                placeholder="{{educacionList[i].finalizado}}"
                                                (change)="finalizadochangeedit($event,i)">
                                                <option value="true">SI</option>
                                                <option value="false">NO</option>
                                            </select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('finalizadog')?.errors?.['required']; else siono">
                                    (Falta seleccionar SI o NO)</p>

                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Fecha Finalizacion Estudio</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <input onkeydown="return false" matInput formControlName="fechafing"
                                                [placeholder]="placehold(2,i)" [matDatepicker]="picker6"
                                                (dateChange)="cambiafechafinedit(i)">
                                            <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                            <mat-datepicker #picker6></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('fechafing')?.errors?.['required']; else nada">
                                    (Se debe pickar en calendario para definir fecha de fin del estudio)</p>


                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Ubicacion de la Institucion:</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <input matInput formControlName="ubicaciong" placeholder="">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('ubicaciong')?.errors?.['required']; else nada">
                                    (La ubicacion de la Institucion no puede estar vacia)
                                </p>
                                <div class="box">
                                    <div class="one">
                                        <p class="ppinterno">Comentarios:</p>
                                    </div>
                                    <div class="two">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <textarea cols="55" rows="8" matInput formControlName="comentariog"
                                                placeholder="" (ngModelChange)="contarcaracteresedit(i)"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('comentariog')?.errors?.['required']; else nadan">
                                    (El campo de Comentario no puede estar vacio)
                                </p>
                                <p class="notita"
                                    *ngIf="this.lessons.at(i).get('comentariog')?.errors?.['maxlength']; else nada">
                                    (La cantidad de caracteres no puede superar los 200)
                                </p>
                                <ng-template #nadan>
                                    <p class="notita">{{caracteresenedit[i]}}</p>
                                </ng-template>

                                <hr>
                                <button type="button" class="btn btn-outline-dark" (click)="editareducacion(i);"><img
                                        src="../../../assets/add.JPG" width="30"
                                        height="30">Editar</button>&nbsp;&nbsp;&nbsp;&nbsp;

                                <button type="button" class="btn btn-outline-dark" (click)="eliminareducacion(i);"><img
                                        src="../../../assets/eliminar.JPG" width="30" height="30">Eliminar</button>

                                <hr>


                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-offset-1 col-md-10 col-md-pull-1">
            <form [formGroup]="formularioAlta" (ngSubmit)="formSubmit()">
                <hr class="sepan">
                <img src="../../../assets/add.JPG" width="40" height="40"><b>Agregar Nuevo Registro de Educacion</b>

                <hr>
                <div class="lesson-form-row">
                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Institucion Educativa:</p>
                        </div>
                        <div class="two">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Institucion</mat-label>
                                <input type="text" required formControlName="institucion" matInput
                                    placeholder="Digite nombre de la institucion">
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('institucion')?.errors?.['required']; else nada">
                        (Nombre de la Institucion no debe ser nulo)
                    </p>
                    <ng-template #nada>
                        <p class="notita">&nbsp;</p>
                    </ng-template>
                    <ng-template #nada2>
                        <p class="notita">{{sttt}}</p>
                    </ng-template>
                    <ng-template #siono>
                        <p class="notita">&nbsp;</p>
                    </ng-template>


                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Titulo Obtenido</p>
                        </div>
                        <div class="two">

                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Titulo Obtenido</mat-label>
                                <input required formControlName="titulo_obtenido" matInput
                                    placeholder="Ingrese el titulo obtenido">
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita"
                        *ngIf="this.formularioAlta.get('titulo_obtenido')?.errors?.['required']; else nada">
                        (El nombre del titulo no puede estar vacio)
                    </p>

                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Inicio de Estudios</p>
                        </div>
                        <div class="two">

                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha de Inicio</mat-label>
                                <input onkeydown="return false" name="fechaini" formControlName="fechaini" matInput
                                    [matDatepicker]="picker4" (dateChange)="cambiafechaini()">
                                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                <mat-datepicker #picker4></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('fechaini')?.errors?.['required']; else nada">
                        (Debe seleccionar fecha haciendo click en el icono del calenario)
                    </p>

                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">¿Estudio Finalizado?</p>
                        </div>
                        <div class="two">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>¿Finalizado?</mat-label>
                                <select matNativeControl formControlName="finalizado"
                                    (change)="finalizadochange($event)">
                                    <option value="false">NO</option>
                                    <option value="true">SI</option>
                                </select>
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('finalizado')?.errors?.['required']; else siono">
                        (Falta seleccionar SI o NO)</p>

                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Fecha fin de Estudios</p>
                        </div>
                        <div class="two">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Fecha Finalizacion</mat-label>
                                <input onkeydown="return false" formControlName="fechafin" matInput
                                    [matDatepicker]="picker3" (dateChange)="cambiafechafin()">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('fechafin')?.errors?.['required']; else nada">
                        (Se debe pickar en calendario para definir fecha de fin del estudio)</p>


                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Ubicacion Institucion Educativa</p>
                        </div>
                        <div class="two">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Ubicacion</mat-label>
                                <input required formControlName="ubicacion" matInput
                                    placeholder="Ingrese ubicacion de la Institucion">
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('ubicacion')?.errors?.['required']; else nada">
                        (La ubicacion de la Institucion no puede estar vacia)
                    </p>


                    <div class="box">
                        <div class="one">
                            <p class="ppinterno">Comentarios varios:</p>
                        </div>
                        <div class="two">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Comentario</mat-label>
                                <textarea cols="55" rows="8" required formControlName="comentario" matInput
                                    placeholder="Comentarios asociados" (ngModelChange)="contarcaracteres()"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <p class="notita" *ngIf="this.formularioAlta.get('comentario')?.errors?.['required']; else nada2">
                        (El campo de Comentario no puede estar vacio)
                    </p>
                    <p class="notita" *ngIf="this.formularioAlta.get('comentario')?.errors?.['maxlength']; else nada">
                        (La cantidad de caracteres no puede superar los 200)
                    </p>

                    <hr>
                    <div class="container text-center">
                        <button mat-raised-button color="white"><img src="../../../assets/add.JPG" width="30"
                                height="30">Agregar</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="white"
                            (click)="limpiar();"><img src="../../../assets/clean.JPG" width="30"
                                height="30">Limpiar</button>
                    </div>
                    <hr>
                </div>
            </form>
        </div>
    </div>
</div>