.notita {
    font-size:small;
    margin: 0px,0px,0px,50px;
    padding: 0px;
    
}

.notitac {
    font-size:small;
    margin: 0px,0px,0px,0px;
    padding-top: 13px;
    
}

.notitaf {
    font-size:small;
    margin: 0px,0px,0px,0px;
    padding-top: 2px;
    padding-left: 95px;
    
}
.notita3 {
    font-size:small;
    margin: 0px,0px,0px,0px;
    padding-top: 12px;
    padding-left: 0px;
    padding-bottom: 0px;
    
}

.notita4 {
    font-size:small;
    margin: 0px,0px,0px,0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    
}