<p>tipoempleo works!</p>


 
<div class="container">
    <div>
        <div>  
            <form [formGroup]="formularioEdicion">
                <div [formGroup]="form">
                    <ng-container formArrayName="lessons">
                        <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
                            <br><p><b>Registro No: {{i}}</b></p>
                            <br><p><b>Registro No: {{tipoempleoList[i].id}}</b></p>
                            <div [formGroupName]="i">
                                <!--<div class="lesson-form-row" [formGroup]="lessonForm"></div>-->
                                <table style="border: 1px solid black;" style="width:100%;"><tr>
                                <td style="width:30%;"><label>Tipo De Empleo</label></td>
                                <td><mat-form-field class="full-width" appearance="outline">
                                    <input matInput
                                        formControlName="tipoempleog"
                                        placeholder="{{tipoempleoList[i].tipoEmpleo}}">
                                </mat-form-field>
                                <p class="notita" 
                                    *ngIf="this.lessons.at(i).get('tipoempleog')?.errors?.['required']; else nadae">
                                    (Nombre del tipo empleo no debe ser nulo)
                                </p></td></tr>
                                <ng-template #nadae>
                                <p class="notita4">&nbsp;</p>
                                </ng-template>                

                                
                                
                            <tr><td><mat-icon class="edit-btn" style="width:'30px'; height:'30px'" (click)="editartipoempleo(i);">
                            edit</mat-icon><p>Editar</p></td>       
                            <td><mat-icon class="delete-btn" style="width:'30px'; height:'30px'" (click)="eliminartipoempleo(i);">
                            delete_forever</mat-icon><p>Eliminar</p></td></tr></table>
                            </div>
                       </ng-container>    
                    </ng-container>    
                </div>        
            </form>
        </div>
    </div>      
</div>    





<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/2583145.png" width="60" height="60">
                </div>
                <h1 class="text-center">Incoporar un nuevo tipo de empleo</h1>           
                <form [formGroup]="formularioAlta" (ngSubmit)="formSubmit()">
                    
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Tipo de Empleo</mat-label>
                        <input type="text" required formControlName="tipoempleo" matInput placeholder="Escriba nombre del tipo de empleo">                        
                    </mat-form-field>
                    <p class="notita" 
                        *ngIf="this.formularioAlta.get('tipoempleo')?.errors?.['required']; else nada">
                        (Nombre del tipo de empleo no debe ser nulo)
                    </p>
                    <ng-template #nada>
                        <p class="notita4">&nbsp;</p>
                    </ng-template>
                    
                                  

                    
                    <div class="container text-center">
                        <button mat-raised-button color="primary">Registrar</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent" (click)="limpiar();">Limpiar</button>
                    </div>
                </form>
                <br><br><br>
            </div>
        </div>
    </div>
</div>