<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="lateral">
      <div class="bloque1">
        <img class="argprog" src="../../assets/argentinaprogramal.JPG">
      </div>      
      <hr>

      <p class="titi" style="text-align:center;">PortFolio Sebastián Caparros</p> 
      <div class="bloque1" *ngIf="fasel=='logedasuser' || fasel=='logedasadmin'">
        <img class="sebas" src="../../assets/fotoseba.JPG">
      </div>    
      <hr>
  

      <div *ngIf="fasel=='logedasuser' || fasel=='logedasadmin'">
        <mat-nav-list>
          <a mat-list-item href="#sobremi"><img style="margin-right: 10px" src="../../assets/flechasimple.png" width="20px" height="12px">Sobre mi</a>
          <a mat-list-item href="#educacion"><img style="margin-right: 10px" src="../../assets/flechasimple.png" width="20px" height="12px">Educación & Formacion</a>
          <a mat-list-item href="#experiencia"><img style="margin-right: 10px" src="../../assets/flechasimple.png" width="20px" height="12px">Experiencia Laboral</a>
          <a mat-list-item href="#skills"><img style="margin-right: 10px" src="../../assets/flechasimple.png" width="20px" height="12px">Soft & Hard Skills</a>
          <a mat-list-item href="#proyectos"><img style="margin-right: 10px" src="../../assets/flechasimple.png" width="20px" height="12px">Proyectos</a>
        </mat-nav-list>
      </div>
      

    </div>
  </mat-sidenav>


  <mat-sidenav-content class="fondocentral">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span class="date">
        <div *ngIf="fases=='nologeado'"><button type="button" class="btn btn-outline-light"
            (click)="login()">LogIn</button>&nbsp;&nbsp;&nbsp;<label *ngIf="nuser=='user' || nuser=='admin'">Usuario:
            {{nuser}}</label>
        </div>
        <div *ngIf="fases=='porlogearse'"><button type="button" class="btn btn-outline-light"
            (click)="getback()">Inicio</button>&nbsp;&nbsp;&nbsp;<label *ngIf="nuser=='user' || nuser=='admin'">Usuario:
            {{nuser}}</label>
        </div>
        <div *ngIf="fases=='logeado'"><button type="button" class="btn btn-outline-light" (click)="onLogOut()"
            *ngIf="fases=='logeado'">LogOut</button>&nbsp;&nbsp;&nbsp;<label
            *ngIf="nuser=='user' || nuser=='admin'">Usuario: {{nuser}}</label>
        </div>

      </span>
      

    </mat-toolbar>
    <!-- Esta es la parte Central es decir del contenido -->
    <div *ngIf="fasem=='inicio'">
      <app-portada-inicial></app-portada-inicial>
    </div>

    <div *ngIf="fasem=='showloginform'">
      <app-login></app-login>
    </div>

    <div *ngIf="fasem=='logedasuser'">
      <app-todo></app-todo>      
    </div>

    <div *ngIf="fasem=='logedasadmin'">

     
      <app-dashboard></app-dashboard>
      <app-dashboard1></app-dashboard1>
      <app-dashboard2></app-dashboard2>
      <app-dashboard3></app-dashboard3>
      <app-dashboard4></app-dashboard4>
      <app-dashboard5></app-dashboard5>
      <app-todo></app-todo>    

    </div>

  </mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-container>